$dark-blue: #13183F;
$dark-blue-hover: #666CA3;

$white: #FFF;
$gray: #83869A;

$pink: #F74780;

$button-gradient: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$background-gradient: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
$footer-button-gradient: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
$footer-button-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%),
linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);